<body>
    <section class="section">
        <div class="container m-6 my-6 mgr-large">
            <div class="columns">
                <div class="column">
                    <h1 class="title has-text-centered">TraductorPy</h1>
                    <figure class="image ">
                        <div class="box has-background-black-bis">
                            <img src="https://i.postimg.cc/wx2MJjH3/Instalacion.gif">
                        </div>
                    </figure>

                    <div class="field has-addons m-6">
                        <div class="control">
                            <input class="input" type="text" placeholder="pip install traductorPy" disabled>
                        </div>
                        <div class="control">
                            <a class="button is-info">
                        Copy
                      </a>
                        </div>
                    </div>

                    <div class="columns m-6">
                        <div class="column">
                            <a href="https://pypi.org/project/traductorPy/" target="_blank" class="button is-large is-fullwidth is-link is-outlined">Pypi</a>
                        </div>
                        <div class="column">
                            <a href="https://github.com/jrm2087/PyLang" target="_blank" class="button is-large is-fullwidth is-info is-outlined">GIT</a>
                        </div>
                    </div>

                    <figure class="image ">
                        <div class="box has-background-black-bis">
                            <img src="https://i.postimg.cc/CL6KPrRg/Ejecucion.gif">
                        </div>
                    </figure>

                    <div class="field has-addons m-6">
                        <div class="control">
                            <input class="input" type="text" placeholder="pip install traductorPy" disabled>
                        </div>
                        <div class="control">
                            <a class="button is-info">
                        Copy
                      </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <ng-particles [id]="id" [options]="particlesOptions"></ng-particles>
</body>